* {
    box-sizing: border-box;
}

body {
	background: white;
	margin: 0;
	font-family: 'Grand Hotel', cursive;
	font-size: 18pt;
}

#home-title {
	padding-top: 200px;
	font-family: 'Varela Round', sans-serif;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #DB487F;
}

li {
	display: inline-block;
	padding: .5%;
	margin-left: 2%;
	margin-right: 2%;
}

#logo {
	width: 15%;
	padding-top: .5%;
	padding-bottom: 0;
}

a {
	text-decoration: none;
	color: white;
}

li > a:hover {
	border-bottom: 3px solid black;
}

.active {
	border-bottom: 3px solid black;
}

.center {
	margin: auto;
	text-align: center;
}

.gallery-menu-wrapper {
	display: flex;
	flex-direction: row;
	width: 80%;
	flex-wrap: nowrap;
	justify-content: center;
	margin: auto;
}


h1 {
	width: 100%;
	text-align: center;
	color: white;
	background-color: #DB487F;
	color: #DB487F;
	background-color: white;
}


.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	margin: auto;
	justify-content: center;
}

.column {
	flex: 33%;
	max-width: 33%;
	padding: 0 4px;
}

.two-col {
	flex: 40%;
	max-width: 40%;
	padding: 0 4px;
}

.two-col-small {
	flex: 20%;
	max-width: 20%;
	padding: 0 4px;
}

.column img, .two-col img, .two-col a {
	margin-top: 8px;
	vertical-align: middle;
}

img {
	width: 100%;
	padding: 20px;
}

#wedding-canvas {
	background: url("../images/portfolio/wedding-canvas.jpg") 50% 0 no-repeat fixed;
	background-size: cover;
}

#birthday-canvas {
	background: url("../images/portfolio/birthday-canvas.jpg") 50% 0 no-repeat fixed;
	background-size: cover;
}

#holiday-canvas {
	background: url("../images/portfolio/holiday.jpg") 50% 0 no-repeat fixed;
	background-size: cover;
}

#celebration-canvas {
	background: url("../images/portfolio/celebration.jpg") 50% 0 no-repeat fixed;
	background-size: cover;
}

.canvas {
	width: 100%;
	height: 500px;
	margin-bottom: 400px;
	overflow: hidden;
}

.canvas-top {
	margin-top: 200px;
}

.canvas-bottom {
	margin-bottom: 200px;
}

.canvas h1 {
	color: white;
	background-color: rgba(219, 72, 127, .6);
	font-size: 70pt;
	margin-top: 180px;
}

.canvas > img {
	width: 100%;
	height: auto;
	padding: 0;
}

#about {
	width: 50%;
	margin: auto;
	font-family: 'Varela Round', sans-serif;
}

.prices-wrapper {
	width: 80%;
	margin: auto;
}

.price-item {
	border-style: outset;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	font-family: 'Varela Round', sans-serif;
}

.image-click:hover {
	opacity: .5;
}

.map-wrapper {
	width: 70%;
	margin: auto;
}

.phone-wrapper {
	font-size: 150%;
	color: black;
	text-align: center;
}

.phone {
	color: #DB487F;
	text-decoration: none;
}

.phone::before {
	content: "\2706";
	margin-right: 6px;
}

.nav-wrapper {
//	position: fixed;
//	top: 0;
	width: 100%;
	background: black;
	background-image:
		radial-gradient(white 25%, transparent 0),
		radial-gradient(white 25%, transparent 0);
	background-size: 30px 30px;
	background-position: 0 0 , 15px 15px;
}

.footer {
	width: 100%;
	height: 100px;
	background-color: black;
	color: white;
	background-color: #DB487F;
	bottom: 0;
	text-align: center;
	margin-top: 50px;
}

.footer p {
	margin: 0;
	padding-top: 25px;
}

@media (max-width: 1250px) {
.column, .two-col, .two-col-small {
flex: 50%;
max-width: 50%;
}

.prices-wrapper {
	width: 100%;
}

#about {
	width: 90%;
}

#logo {
	width: 40%;
}
.map-wrapper {
	width: 100%;
}
}

@media (max-width: 600px) {
.column, .two-col, .two-col-small {
flex: 100%;
max-width: 100%;
}

.prices-wrapper {
	width: 100%;
}

#about {
	width: 90%;
}

.gallery-menu-wrapper {
	width: 100%;
	padding: 2px;
}

.gallery-menu-wrapper img {
	padding: 2px;
}

#logo {
	width: 40%;
}

.map-wrapper {
	width: 100%;
}
}
