@media screen and (min-width: 768px){
}

@media screen and (max-width: 767px) {
        body {font-size: 150%;}
}

body {
	background: black;
	background-image:
		radial-gradient(white 25%, transparent 0),
		radial-gradient(white 25%, transparent 0);
	background-size: 30px 30px;
	background-position: 0 0 , 15px 15px;
}

hr {
	background-color: #DB487F;
}
